## pandas advance assignment

In [2]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.

1) pandas.read_csv

In [ ]:
data=pd.read_csv("data_csv")
print(data.head())

2) pandas.DataFrame()

In [5]:
data_new={"Name":["mukesh","abhay","vansh"],
          "Age":[23,20,21],
          "Gender":["male","male","male"]}

df=pd.DataFrame(data_new)
df

     Name  Age Gender
0  mukesh   23   male
1   abhay   20   male
2   vansh   21   male

3) pandas.DataFrame.info()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

4) pandas.DataFrame.groupby()

In [8]:
group_data=df.groupby("Name")["Age"].mean()
print(group_data)

Name
abhay     20.0
mukesh    23.0
vansh     21.0
Name: Age, dtype: float64

5) pandas.Series.value_counts()

In [12]:
data=[23,54,1,65,3,8,63,56,3,8,2,6,23,5,89,100]
series=pd.Series(data)
count=series.value_counts()
print(count)

23     2
3      2
8      2
54     1
1      1
65     1
63     1
56     1
2      1
6      1
5      1
89     1
100    1
dtype: int64

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [18]:
def new_index(df1):
    indexs=pd.Index(range(1,len(df1)*2,2))
    df1=  df1.reset_index(drop=True)
    df1.index=indexs
    return df1                
                    
                    


data1={"A":[23,54,23,56],
       "B":[2,56,21,67],
       "C":[34,56,32,78]}
df1=pd.DataFrame(data1)
print("Original dataframe")
print(df1)


df1=new_index(df1)
print("\nnew_index")
print(df1)
len(df1)

Original dataframe
    A   B   C
0  23   2  34
1  54  56  56
2  23  21  32
3  56  67  78

new_index
    A   B   C
1  23   2  34
3  54  56  56
5  23  21  32
7  56  67  78

4

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [32]:
def sum(df):
    sum_of_first_three=0
    
    for index,row in df.iterrows():
        
            sum_of_first_three += row["Values"]
            
            if index==2:
                break
    
                                      
                                      
    print("the sum of first three is",sum_of_first_three)        
        
 
    
    
    
    
data={"Values":[23,45,32,56,23,67,2,65,23,6]}
df=pd.DataFrame(data2)

print(df)
sum(df)

   Values
0      23
1      45
2      32
3      56
4      23
5      67
6       2
7      65
8      23
9       6
the sum of first three is 100

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [44]:
data2={"Text":["mukesh","vansh","pwskills","abhay"]}

df=pd.DataFrame(data2)
df
df["Word_count"]=df["Text"].apply(len)
df

       Text  Word_count
0    mukesh           6
1     vansh           5
2  pwskills           8
3     abhay           5

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() and DataFrame.shape() are two different methods in pandas that provide different information about a DataFrame:

DataFrame.size():The size() method returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.

DataFrame.shape():
The shape() method returns a tuple representing the dimensions of the DataFrame.
It provides the number of rows and columns in the DataFrame in the form of

Q6. Which function of pandas do we use to read an excel file?

In [46]:
# this function of pandas we suse to read an excel file

df = pd.read_excel('file.xlsx')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [56]:
data={"Email":["mukesh@domain.com","abhay@domain.com","vansh@domain.com","sahil@domain.com"]}
df=pd.DataFrame(data)      
df
df["Username"]=df["Email"].apply(lambda x : x.split("@")[0])
df

               Email Username
0  mukesh@domain.com   mukesh
1   abhay@domain.com    abhay
2   vansh@domain.com    vansh
3   sahil@domain.com    sahil

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [69]:
def count_sum(df):
    rows=df[(df["A"] > 5) & (df["B"] < 10)]
    
    return rows
    
    

df={"A":[5,34,6,2,7],
      "B":[11,2,45,3,21],
      "C":[23,45,1,5,34]}

new_df=count_sum(df)
new_df

TypeError: '>' not supported between instances of 'list' and 'int'

In [70]:
def filter_dataframe(df):
    # Use boolean indexing to filter the rows based on the conditions
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
# Assuming 'df' is your Pandas DataFrame with columns 'A', 'B', and 'C'
# Replace the 'df' below with your actual DataFrame name if different
df = pd.DataFrame({
    'A': [4, 7, 2, 9, 6],
    'B': [8, 5, 3, 12, 2],
    'C': [10, 20, 30, 40, 50]
})

# Call the function to get the filtered DataFrame
selected_df = filter_dataframe(df)

# Print the selected DataFrame
print(selected_df)

   A  B   C
1  7  5  20
4  6  2  50